---
interface Props {
    id: string;
    label: string;
    placeholder?: string;
    readonly?: boolean;
}

const { id, label, placeholder = "", readonly = false } = Astro.props;
---
<label for={id}>
    <span class="title"> {label} </span>
    <span class="description" id={`${id}-counter`}></span>

    <textarea
        id={id}
        rows="4"
        placeholder={placeholder}
        readonly={readonly}></textarea>
</label>

<style>
    textarea {
        resize: none;
        border: 1px solid #ccc;
        border-radius: .5rem;
        padding: 8px 14px;
        font-size: 14px;
        font-family: "JetBrains Mono", monospace;
        width: 100%;
        transition: box-shadow 0.3s ease;
    }
    textarea:focus {
        outline: none;
        box-shadow: 0 0 0 2px #ccc;
    }
</style>